<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxianqin.dockermgr.dao.CidrMapper">
  <resultMap id="BaseResultMap" type="com.youxianqin.dockermgr.models.Cidr">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="start_ip" jdbcType="VARCHAR" property="startIp" />
    <result column="end_ip" jdbcType="VARCHAR" property="endIp" />
    <result column="idc_id" jdbcType="INTEGER" property="idcId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, start_ip, end_ip, idc_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cidr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cidr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youxianqin.dockermgr.models.Cidr">
    insert into cidr (id, name, start_ip, 
      end_ip, idc_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{startIp,jdbcType=VARCHAR}, 
      #{endIp,jdbcType=VARCHAR}, #{idcId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.youxianqin.dockermgr.models.Cidr">
    insert into cidr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="startIp != null">
        start_ip,
      </if>
      <if test="endIp != null">
        end_ip,
      </if>
      <if test="idcId != null">
        idc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startIp != null">
        #{startIp,jdbcType=VARCHAR},
      </if>
      <if test="endIp != null">
        #{endIp,jdbcType=VARCHAR},
      </if>
      <if test="idcId != null">
        #{idcId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxianqin.dockermgr.models.Cidr">
    update cidr
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startIp != null">
        start_ip = #{startIp,jdbcType=VARCHAR},
      </if>
      <if test="endIp != null">
        end_ip = #{endIp,jdbcType=VARCHAR},
      </if>
      <if test="idcId != null">
        idc_id = #{idcId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxianqin.dockermgr.models.Cidr">
    update cidr
    set name = #{name,jdbcType=VARCHAR},
      start_ip = #{startIp,jdbcType=VARCHAR},
      end_ip = #{endIp,jdbcType=VARCHAR},
      idc_id = #{idcId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.youxianqin.dockermgr.models.Cidr">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="start_ip" jdbcType="VARCHAR" property="startIp" />
    <result column="end_ip" jdbcType="VARCHAR" property="endIp" />
    <result column="idc_id" jdbcType="INTEGER" property="idcId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, start_ip, end_ip, idc_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cidr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cidr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youxianqin.dockermgr.models.Cidr">
    insert into cidr (id, name, start_ip, 
      end_ip, idc_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{startIp,jdbcType=VARCHAR}, 
      #{endIp,jdbcType=VARCHAR}, #{idcId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.youxianqin.dockermgr.models.Cidr">
    insert into cidr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="startIp != null">
        start_ip,
      </if>
      <if test="endIp != null">
        end_ip,
      </if>
      <if test="idcId != null">
        idc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startIp != null">
        #{startIp,jdbcType=VARCHAR},
      </if>
      <if test="endIp != null">
        #{endIp,jdbcType=VARCHAR},
      </if>
      <if test="idcId != null">
        #{idcId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxianqin.dockermgr.models.Cidr">
    update cidr
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startIp != null">
        start_ip = #{startIp,jdbcType=VARCHAR},
      </if>
      <if test="endIp != null">
        end_ip = #{endIp,jdbcType=VARCHAR},
      </if>
      <if test="idcId != null">
        idc_id = #{idcId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxianqin.dockermgr.models.Cidr">
    update cidr
    set name = #{name,jdbcType=VARCHAR},
      start_ip = #{startIp,jdbcType=VARCHAR},
      end_ip = #{endIp,jdbcType=VARCHAR},
      idc_id = #{idcId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>