<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxianqin.dockermgr.dao.IpMapper">
  <resultMap id="BaseResultMap" type="com.youxianqin.dockermgr.models.Ip">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cidr_id" jdbcType="INTEGER" property="cidrId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="allocated" jdbcType="BIT" property="allocated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cidr_id, ip, mac, allocated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ip
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ip
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youxianqin.dockermgr.models.Ip">
    insert into ip (id, cidr_id, ip, 
      mac, allocated)
    values (#{id,jdbcType=INTEGER}, #{cidrId,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{mac,jdbcType=VARCHAR}, #{allocated,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.youxianqin.dockermgr.models.Ip">
    insert into ip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cidrId != null">
        cidr_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="allocated != null">
        allocated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cidrId != null">
        #{cidrId,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="allocated != null">
        #{allocated,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxianqin.dockermgr.models.Ip">
    update ip
    <set>
      <if test="cidrId != null">
        cidr_id = #{cidrId,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="allocated != null">
        allocated = #{allocated,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxianqin.dockermgr.models.Ip">
    update ip
    set cidr_id = #{cidrId,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      allocated = #{allocated,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.youxianqin.dockermgr.models.Ip">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cidr_id" jdbcType="INTEGER" property="cidrId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="allocated" jdbcType="BIT" property="allocated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cidr_id, ip, mac, allocated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ip
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ip
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youxianqin.dockermgr.models.Ip">
    insert into ip (id, cidr_id, ip, 
      mac, allocated)
    values (#{id,jdbcType=INTEGER}, #{cidrId,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{mac,jdbcType=VARCHAR}, #{allocated,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.youxianqin.dockermgr.models.Ip">
    insert into ip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cidrId != null">
        cidr_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="allocated != null">
        allocated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cidrId != null">
        #{cidrId,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="allocated != null">
        #{allocated,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxianqin.dockermgr.models.Ip">
    update ip
    <set>
      <if test="cidrId != null">
        cidr_id = #{cidrId,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="allocated != null">
        allocated = #{allocated,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxianqin.dockermgr.models.Ip">
    update ip
    set cidr_id = #{cidrId,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      allocated = #{allocated,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>