<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxianqin.dockermgr.dao.BaseRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.youxianqin.dockermgr.models.BaseRolePermission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="base_role_id" jdbcType="BIGINT" property="baseRoleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, base_role_id, permission_id
  </sql>
  <select id="getEntity" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_role_permission
  </select>

  <insert id="addEntitys">
    insert into base_role_permission (base_role_id, permission_id
      )
    values
    <foreach collection="permissionList" item="item" index="index" separator=",">
    (#{baseRole.id,jdbcType=BIGINT}, #{item.id,jdbcType=BIGINT})
    </foreach>
  </insert>

  <delete id="deleteEntitys">
    delete from base_role_permission
    where base_role_id = #{baseRole.id,jdbcType=INTEGER} and permission_id in
    <foreach collection="permissionList" item="item" index="index" open="(" separator="," close=")">
         #{item.id,jdbcType=BIGINT}
    </foreach>
  </delete>


  <delete id="deleteEntityByBaseRole" parameterType="java.lang.Integer">
    delete from base_role_permission
    where base_role_id = #{baseRoleId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteEntityByPermission" parameterType="java.lang.Integer">
    delete from base_role_permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>

</mapper>