<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxianqin.dockermgr.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.youxianqin.dockermgr.models.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="base_role_id" jdbcType="BIGINT" property="baseRoleId" />
    <result column="service_id" jdbcType="INTEGER" property="serviceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, base_role_id, service_id
  </sql>
  <select id="getEntity" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
  </select>
  <delete id="deleteEntityByBaseRole" parameterType="com.youxianqin.dockermgr.models.BaseRole">
    delete from role
    where base_role_id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteEntityByService" parameterType="com.youxianqin.dockermgr.models.Service">
    delete from role
    where service_id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="addEntitysByBaseRole" >
    insert into role (name, base_role_id ,service_id ) values
    <foreach collection="serviceList" item="item" index="index" separator=",">
      <bind name="pattern" value="item.code +'_' + baseRole.name"/>
     (#{pattern,jdbcType=VARCHAR}, #{baseRole.id,jdbcType=BIGINT}, #{item.id,jdbcType=INTEGER})
    </foreach>
  </insert>

  <insert id="addEntitysByService" >
    insert into role (name, base_role_id ,service_id ) values
    <foreach collection="baseRoleList" item="item" index="index" separator=",">
      <bind name="pattern" value="service.code +'_' + item.name"/>
      (#{pattern,jdbcType=VARCHAR}, #{item.id,jdbcType=BIGINT}, #{service.id,jdbcType=INTEGER})
    </foreach>
  </insert>

  <insert id="addEntity" parameterType="com.youxianqin.dockermgr.models.BaseRole">
    insert into role (name, base_role_id  ) values (#{name,jdbcType=VARCHAR}, #{baseRoleId,jdbcType=BIGINT})
  </insert>

</mapper>